.mat-card{
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px 10px 10px 10px;
    
 }
 .mat-card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
  }
  
  .jumbotron{
     background-color:#f2f7f8!important;
    
  }
  #upgrade{
    background-color:#4CAF50;
    color: white;
    float: right;
 
 }
 img{
     border-radius: 50% ;
     width: 100px;
     height: 100px;
    
 }
 #image{
     text-align: center;
     border-radius: 50%;
     padding-top: 5px;
 }
 .form{
     padding-left: 30px;
 }

mat-card{
    height: 300px;
}

button{
    background-color: #4CAF50!important;
    color: white;
}