<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container-fluid jumbotron">
    <div class="row">
    <div class="col-lg-9 col-md-9">
       <h2>Profiles</h2>
       <p>home/profiles</p>
       <p>{{username}}</p>
    </div>
    <div class="col-lg-3 col-md-3">
      <button type="button" class="btn btn-lg" id="upgrade"> Upgrade</button>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-1 col-md-1 "></div>
    <div class="col-lg-4 col-md-4 ">
        <mat-card class="profile">
            
            <div id="image"><img mat-card-image src="assets\shinchan.png"
             alt="Photo of a Shiba Inu">
        
        <mat-card-content>
            <h3>XYZ ABC</h3>
            <h5>Software developer</h5>
        </mat-card-content>
    </div>
       </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 mat-card" id="form"  >
               
        <form #signupForm="ngForm" class="text-center border border-light p-5" >
        
          <table >
            
            <tr >
                <td  >
                   
                        <mat-form-field class="fullwidth" >
                        <input matInput name="fn" type="text"  placeholder="firstname" ngModel required #fn="ngModel" >
                       </mat-form-field>
                       <div *ngIf="fn.invalid && (fn.dirty || fn.touched)">                               
                       <mat-error *ngIf="fn.hasError('required')">
                        First Name is required.
                       </mat-error>
                     </div>
                    
                    </td>

                <td>
                   
                    <mat-form-field class="fullwidth">
                    <input  matInput name="l1" type="text"  placeholder="Lastname" ngModel required #ln="ngModel" >
                   </mat-form-field>
                   <div *ngIf="ln.invalid && (ln.dirty || ln.touched)">                               
                   <mat-error *ngIf="ln.hasError('required')">
                    Last Name is required.
                   </mat-error>
                  </div>
                
            </td>


        </tr>
           
            <tr>
                <td>
                <mat-form-field>
                <input  type="tel" matInput name="f2" placeholder="Contact no. " ngModel required minlength="10" maxlength="10" #cn="ngModel">    
            </mat-form-field>
                <div *ngIf="cn.invalid && (cn.dirty || cn.touched)">                               
                            <mat-error *ngIf="cn.hasError('required')">
                             Contact No. is required.
                            </mat-error>
                            <mat-error *ngIf="cn.hasError('minlength')">
                                Enter valid No. of length 10.
                            </mat-error>
                            <mat-error *ngIf="cn.hasError('maxlength')">
                                Enter valid No. of length 10.
                            </mat-error>
                        </div>
                        </td>
             
                <td>
                    
                    <mat-form-field>
                        <input   name="a1" matInput type="text" placeholder="Address" ngModel required #ad="ngModel">
                    </mat-form-field>
                        <div *ngIf="ad.invalid && (ad.dirty || ad.touched)">                               
                            <mat-error *ngIf="ad.hasError('required')">
                             Address is required.
                            </mat-error>
                        </div>
                   
                    </td>
            </tr>

            <tr>
                <td>
                 <mat-form-field>
                 <input  type="email" matInput name="e1"  placeholder=" E-mail ID" ngModel required disabled email #em="ngModel"> 
             </mat-form-field>
           
                         </td>
                         </tr>
         
            <tr>
                <td>
                <mat-form-field >
                        <input  name="p1" type="password" matInput placeholder="Password " ngModel required minlength="6" #p1="ngModel">
                    </mat-form-field>
                        <div *ngIf="p1.invalid && (p1.dirty || p1.touched)">                               
                            <mat-error *ngIf="p1.hasError('required')">
                             Please Set Password is required.
                            </mat-error>
                            <mat-error *ngIf="p1.hasError('minlength')">
                                Minimum length is 6 characters.
                            </mat-error>
                        </div>
                    
                    </td>
                <td>
                <mat-form-field>
                        <input name="p2" type="password" matInput placeholder="Confirm Password" ngModel required   #p2="ngModel">
                    </mat-form-field>
                        <mat-error  *ngIf="p1!=p2 && p2.touched" >              
                            Password not matching
                          </mat-error>
                        </td>
                                    
                </tr>
              
          </table>
         <div class="row">
                <button  type="submit" class="btn btn-lg "  md-raised-button >Submit</button>
         </div>

                 
        </form>
       
    </div>
    
  </div>

  </div>
  <app-footer></app-footer> 
