.mat-card{
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-left: 20px;
    border-right: 20px ;
    
 }
 .mat-card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
  }

  .jumbotron{
     background-color:#f2f7f8!important;
     margin-top: 20px;
     margin-bottom: 0;
    
  }
  #upgrade{
    background-color:#55ce63;
    color: white;
    float: right;
 
 }
 img{
     border-radius: 50% ;
     width: 100px;
     height: 100px;
     padding-top: 5px;
    
 }
 #image{
     text-align: center;
     border-radius: 50%;
     padding-top: 5px;
 }
 .form{
     padding-left: 30px;
 }

mat-card{
    height: 300px;
}

button{
    background-color: #55ce63!important;
    color: white;
}

#form{
    padding-left: 5%;
}

.account{
 
    margin: 30px auto 30px;
    width: 96%;
    
}

.table-heading{
    color: #706368;
    text-align: center;
    padding-top: 10px;
}



#users{
    border-collapse: collapse;
    width: 100%;
    
}
#users td,#users th{
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(2){
    background-color: #bd4f4f!important;
}

#users tr:hover{
    background-color: #ddd;
}

#users th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5a5456;
    color: whitesmoke;
}