<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container-fluid jumbotron">
    <div class="row">
    <div class="col-lg-9 col-md-9">
       <h2>Profiles</h2>
       <p>home/profiles</p>
    </div>
    <div class="col-lg-3 col-md-3">
      <button type="button" class="btn btn-lg" id="upgrade"> Upgrade</button>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-1 col-md-1 "></div>
    <div class="col-lg-4 col-md-4 ">
        <mat-card class="profile">
            
            <div id="image"><img mat-card-image src="assets\shinchan.png"
             alt="Photo of a Shiba Inu">
        
        <mat-card-content>
            <h3>XYZ ABC</h3>
            <h5>Software developer</h5>
        </mat-card-content>
    </div>
       </mat-card>
      </div>
      <div class="col-lg-6 col-md-6 mat-card" id="form">
        <form class="text-center border border-light p-5"  #myForm="ngForm">
          <table class="fullwidth" cellspacing="0">
              <tr>
                  <td>
                      <mat-form-field class="fullwidth">
                          <input matInput placeholder="First Name" id="firstname"  name="firstname">
                      </mat-form-field>
                  </td>
                  <td>
                      <mat-form-field class="fullwidth">
                          <input matInput placeholder="Last Name" id="lastname" name="lastname">
                      </mat-form-field>
                  </td>
              </tr>
              
          <tr>
              <td>
              <mat-form-field class="fullwidth">
                  <input matInput placeholder="Email" id="Email"  name="Email" disabled>
              </mat-form-field>
          
          </td>
        </tr>
          
          <tr>
              <td>
              <mat-form-field class="fullwidth">
                  <input matInput placeholder="Address" id="address"  name="address">
              </mat-form-field>
          
          </td>
        </tr>
              <tr>
                  <td>
                      <mat-form-field class="fullwidth">
                          <input matInput placeholder="City" id="city" name="city">
                      </mat-form-field>
                  </td>
                
                  <td>
                      <mat-form-field class="fullwidth">
                          <input matInput placeholder="State" id="state"  name="state">
                      </mat-form-field>
                  </td>
              </tr>
                  <tr>
                  <td>
                      <mat-form-field class="fullwidth">
                          <input matInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode"  name="postalcode">
                       
                      </mat-form-field>
                  </td>
                  </tr>
              
          </table>
          <p>
              <button class="btn btn-lg" type="submit" md-raised-button>Update</button>
          </p>
        </form>
       
    </div>
    
  </div>

  </div>
  <app-footer></app-footer> 
