<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container-fluid jumbotron">
    <div class="row">
    <div class="col-lg-9 col-md-9">
       <h2>Profiles</h2>
       <p>home/profiles</p>
    </div>
    <div class="col-lg-3 col-md-3">
      <button type="button" class="btn btn-lg" id="upgrade"> Upgrade</button>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4 col-md-4 ">
        <mat-card class="profile">
            
            <div id="image"><img mat-card-image src="assets\shinchan.png"
             alt="Photo of a Shiba Inu">
        
        <mat-card-content>
            <h3>XYZ ABC</h3>
            <h5>Software developer</h5>
        </mat-card-content>
    </div>
       </mat-card>
      </div>
      <div class="col-lg-8 col-md-8 mat-card">
          <div class="form">
            <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Full Name</mat-label>
                  <input matInput placeholder="Full Nmae">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Phone No.</mat-label>
                  <input matInput placeholder="Phone No.">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Message</mat-label>
                  <input matInput placeholder="Message">
                </mat-form-field>
              </p>
              <button class="btn btn-lg" mat-raised-button color="accent">Submit</button>
    
          </div>
       
    </div>
    
  </div>

  </div>
  
