<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container-fluid jumbotron" >
    <div class=" col-lg-4 col-md-4"></div>
    <div class=" col-lg-5 col-md-5 mat-card">
    <div class="card-header">
      <h2>Sign-Up</h2>
    </div>
    <div class="card-body">
       
            <form #signupForm="ngForm" class="text-center border border-light p-5" *ngFor="let fo of form_el">
                <tr>
                    <td >
                       
                            <mat-form-field class="fullwidth">
                            <input [(ngModel)]="fo.item1" matInput name="f1" type="text"  placeholder="First name " ngModel required #f1="ngModel" >
                           </mat-form-field>
                           <div *ngIf="f1.invalid && (f1.dirty || f1.touched)">                               
                           <mat-error *ngIf="f1.hasError('required')">
                            First Name is required.
                           </mat-error>
                         </div>
                        
                        </td>

                    <td>
                       
                        <mat-form-field class="fullwidth">
                        <input [(ngModel)]="fo.item2" matInput name="l1" type="text"  placeholder="Lastname" ngModel required #l1="ngModel" >
                       </mat-form-field>
                       <div *ngIf="l1.invalid && (l1.dirty || l1.touched)">                               
                       <mat-error *ngIf="l1.hasError('required')">
                        Last Name is required.
                       </mat-error>
                      </div>
                    
                </td>


            </tr>
               
                <tr>
                    <td>
                    <mat-form-field>
                    <input [(ngModel)]="fo.item4" type="tel" matInput name="f2" placeholder="Contact no. " ngModel required minlength="10" maxlength="10" #f2="ngModel">    
                </mat-form-field>
                    <div *ngIf="f2.invalid && (f2.dirty || f2.touched)">                               
                                <mat-error *ngIf="f2.hasError('required')">
                                 Contact No. is required.
                                </mat-error>
                                <mat-error *ngIf="f2.hasError('minlength')">
                                    Enter valid No. of length 10.
                                </mat-error>
                                <mat-error *ngIf="f2.hasError('maxlength')">
                                    Enter valid No. of length 10.
                                </mat-error>
                            </div>
                            </td>
                 
                    <td>
                        
                        <mat-form-field>
                            <input  [(ngModel)]="fo.item5" name="a1" matInput type="text" placeholder="Address" ngModel required #a1="ngModel">
                        </mat-form-field>
                            <div *ngIf="a1.invalid && (a1.dirty || a1.touched)">                               
                                <mat-error *ngIf="a1.hasError('required')">
                                 Address is required.
                                </mat-error>
                            </div>
                       
                        </td>
                </tr>

               <tr>

                <td>
                        
                        <mat-form-field>
                            <input [(ngModel)]="signup.country" matInput name="country" type="text"   placeholder="Country" ngModel required #country="ngModel">
                        </mat-form-field>
                           
                            <div *ngIf="country.invalid && (country.dirty || country.touched)">                               
                                <mat-error *ngIf="country.hasError('required')">
                                 Country is required.
                                </mat-error>
                            </div>
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="State">State</label>
                            <select [(ngModel)]="signup.state"  name="state" class="form-control" #state="ngModel" (change)="changeCountry($event)" required>
                              <option *ngFor ="let count of stateList">{{count.name}}</option>
                            </select>
                            <mat-error *ngIf="state.errors  && (state.dirty || state.touched)">              
                                 Please select your state
                            </mat-error>
                        </div>        
                    </td>
 
                   
                        <div class="form-group">
                            <label for="City">City</label>
                            <select [(ngModel)]="signup.city" name="city" class="form-control" #city="ngModel" >
                                <option *ngFor ="let city of cities">{{city}}</option>
                              </select>
                              <mat-error  *ngIf="city.errors  && (city.dirty || city.touched)">              
                                Please select your city
                              </mat-error>
                        </div>
                            
              
         </tr>

                <tr>
                    <td>
                     <mat-form-field>
                     <input  [(ngModel)]="fo.item3" type="email" matInput name="e1"  [pattern]="emailPattern" placeholder=" E-mail ID" ngModel required email #e1="ngModel"> 
                 </mat-form-field>
                     <div *ngIf="e1.invalid && (e1.dirty || e1.touched)">                               
                                 <mat-error *ngIf="e1.hasError('required')">
                                  E-mail is required.
                                 </mat-error>
                     
                                 <mat-error *ngIf="e1.hasError('pattern')"> 
                                    Enter a valid E-mail
                                 </mat-error>
                             </div>
                             </td>
                             </tr>
             
                <tr>
                    <td>
                    <mat-form-field>
                            <input [(ngModel)]="fo.item10" name="p1" type="password" matInput placeholder="Password " ngModel required minlength="6" #p1="ngModel">
                        </mat-form-field>
                            <div *ngIf="p1.invalid && (p1.dirty || p1.touched)">                               
                                <mat-error *ngIf="p1.hasError('required')">
                                   Password is required.
                                </mat-error>
                                <mat-error *ngIf="p1.hasError('minlength')">
                                    Minimum length is 6 characters.
                                </mat-error>
                            </div>
                        
                        </td>
                    <td>
                    <mat-form-field>
                            <input [(ngModel)]="fo.item11" name="p2" type="password" matInput placeholder="Confirm Password" ngModel required   #p2="ngModel">
                        </mat-form-field>
                            <mat-error  *ngIf="fo.item10!=fo.item11 && p2.touched" >              
                                Password not matching
                              </mat-error>
                            </td>
                                        
                    </tr>
             <div class="row">
                   <button   type="submit" class="btn btn-lg submit"  md-raised-button [disabled]="signupForm.invalid"(click)="onSubmit(signupForm)" >Submit</button>
                  <button  type="reset" class="btn btn-lg clear"  md-raised-button >Clear</button>
             </div>
             <br>
             <div >
                <p >Already a member?</p>
                <a  href="/login" class="cent">Login</a>
            </div>
                     
            </form>
        </div>
    </div>
    
  </div>