<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container-fluid jumbotron" >
    <div class="col-lg-3 col-md-3 "></div>
    <div class="col-lg-6 col-md-6 mat-card " id="signup">
        <form class="text-center border border-light p-5">

            <h1 class="sign">SignUp!</h1>
            <br>
            <div>
            <label>Name</label>
            <input type="text"  class="form-control" #u1 placeholder="Name">
          
           <label>Email</label>
            <input type="email"  class="form-control" #p2 placeholder="E-mail">
            </div>
            <br>
            <div>
             <button (click)="check(u1.value, p2.value)" class="btn btn-lg" type="submit">Sign in</button>
            </div>
            <span>{{msg}}</span>
            <br>
            <div>
            <p>Not a member?</p>
            <a href="#">Register</a>
            </div>
          
          </form>

      </div>
      <div class="col-lg-3 col-md-3  "></div>
</div>