.account{
 
    margin: 30px auto 30px;
    width: 96%;
    
}

.table-heading{
    color: #706368;
    text-align: center;
    padding-top: 10px;
}



#users{
    border-collapse: collapse;
    width: 100%;
    
}
#users td,#users th{
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even){
    background-color: #f2f2f2;
}

#users tr:hover{
    background-color: #ddd;
}

#users th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5a5456;
    color: whitesmoke;
}