.mat-card{
    border-radius: 3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 400px;
 
    margin: 50px 50px 50px 50px;
    padding: 20px 20px 20px 20px;
 }
 .mat-card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.2);
  }
  
  .jumbotron{
     background-color:#f2f7f8!important;
     margin-top: 20px;
     margin-bottom: 0;
  }
  #upgrade{
    background-color:#55ce63;
    color: white;
    float: right;
 
 }

 button{
     color: white;
     background-color: #55ce63 ;
 }

 #signup{
     float: right;
 }