.example-spacer {
    flex: 1 1 auto;
  }

  .sidebar{
    width: 300px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 15, 111);
  }

a{
  color: rgb(46, 38, 38);
  display: inline-block;
  text-decoration: none;
  font-size: large;
}

ul{
  list-style-type: none;
}
li{
  margin-top: 15px;
  margin-left: 0px;
  
  padding: 10px;
}
.fa-arrow-circle-o-left{
  margin-left: 200px;
  padding: 15px;
}

.fa{
  padding-right: 15px;
}