/*example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar.mat-primary {
    background:  rgb(247, 15, 111);
    color: #fff;
  }
  .footer{
    left: 0;
    bottom: 0;
    width: 100%;
  
  }*/

footer{
  background-color:  #009efb ;
  color: white;
  padding: 10px 10px 10px 10px;
}
a{
  list-style: none;
  color: white;
}
a:hover {
  color:whitesmoke;
}