<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="row">
  <div class="col-lg-2 col-md-2">
    <button type="button" class="btn btn-primary btn-lg">Dashboard</button>
  </div>
</div>
    <div class="row">
      <div class="col-lg-5 col-md-5 mat-card " id="card">
        <h4>Daily sale</h4>
        <div class="text-end">
          <h2 class="font-light mb-0"><i class="ti-arrow-up text-success" >
            </i>
            $120</h2>
            <span class="text-muted">Todays Income</span>
        </div>
        <span class="text-success">80%</span>
        <mat-progress-bar class="daily" [color]="color1" [value]="value1" [bufferValue]="bufferValue1">
    </mat-progress-bar>
      </div>
    
      <div class="col-lg-5 col-md-5 mat-card" id="card">
        <h4>Weekly sale</h4>
        <div class="text-end">
          <h2 class="font-light mb-0"><i class="ti-arrow-up text-success" >
            </i>
            $5,000</h2>
            <span class="text-muted">Todays Income</span>
        </div>
        <span class="text-success">30%</span>
        <mat-progress-bar
        class="weekly"
        [color]="color2"
        
        [value]="value2"
        [bufferValue]="bufferValue2">
    </mat-progress-bar>
      </div>
      
    </div>

    <div class="row mat-card">
      <div style="display: block">
       <!---- <canvas 
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>-->
        <canvas id="canvas"></canvas>
      
      </div>

    </div>
 


