<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container-fluid jumbotron" >
    <div class=" col-lg-3 col-md-3"></div>
    <div class=" col-lg-5 col-md-5 mat-card">
        <form class="text-center border border-light p-5"  #myForm="ngForm">
  <table class="fullwidth" cellspacing="0">
      <tr>
          <td>
              <mat-form-field class="fullwidth">
                  <input matInput placeholder="First Name" id="firstname"  name="firstname">
              </mat-form-field>
          </td>
          <td>
              <mat-form-field class="fullwidth">
                  <input matInput placeholder="Last Name" id="lastname" name="lastname">
              </mat-form-field>
          </td>
      </tr>
      
  <tr>
      <td>
      <mat-form-field class="fullwidth">
          <input matInput placeholder="Email" id="Email"  name="Email">
      </mat-form-field>
  
  </td>
</tr>
  
  <tr>
      <td>
      <mat-form-field class="fullwidth">
          <input matInput placeholder="Address" id="address"  name="address">
      </mat-form-field>
  
  </td>
</tr>
      <tr>
          <td>
              <mat-form-field class="fullwidth">
                  <input matInput placeholder="City" id="city" name="city">
              </mat-form-field>
          </td>
        
          <td>
              <mat-form-field class="fullwidth">
                  <input matInput placeholder="State" id="state"  name="state">
              </mat-form-field>
          </td>
      </tr>
          <tr>
          <td>
              <mat-form-field class="fullwidth">
                  <input matInput #postalcode maxlength="5" placeholder="Postal Code" id="postalcode"  name="postalcode">
               
              </mat-form-field>
          </td>
          </tr>
      
  </table>
  <p>
      <button class="btn btn-lg" type="submit" md-raised-button>Register</button>
  </p>
</form>
   
    </div>
    </div>
